body {
 	font-family: 'Roboto', sans-serif;
}

.fullsize_image{
	width:90%;
	padding-left: 10%
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
