body {
 	font-family: 'Roboto', sans-serif;
}

.fullsize_image{
	width:90%;
	padding-left: 10%
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

ul:not(.browser-default) {
  padding-left: 20px;
  list-style-type: disc;
}

ul:not(.browser-default) > li {
  list-style-type: disc;
}

.side{
list-style-type: none;

}

.art li {
  padding: 5px 0px;
}
