---
layout: default
---

{% include header.html %}  

<div class='row' style='margin-bottom: 100px'>

    <!-- Left sidebar content -->
    <div id='left_sidebar side' class="col l3 m2 s12">
        <ul class="collapsible col l8 m12 s12" style='margin-left: -15px;'>
          <li>
            <div class="collapsible-header" style='text-align: center; margin-left:-10px; margin-right:-10px; font-family: "Spartan"; font-weight:500;'>
                About
            </div>
          </li>
          <li>
            <div class="collapsible-header" style='text-align: center; margin-left:-10px; margin-right:-10px; font-family: "Spartan"; font-weight:500;'>
              Projects
          </div>
            <div class="collapsible-body">
                {% for project in site.projects %}
                    {% include project.html %}
                {% endfor %}
            </div>
          </li>
        </ul>
    </div>

    <!-- Center content -->
    <div id='center' class="col l6 m8 s12">
        {% for post in site.posts %}
            {% include post_short.html %}
        {% endfor %}
    </div>
</div>

<footer id='footer' class="card white z-depth-1" style='margin-bottom: -5px;'>
   <div class="container" style='text-align: center; padding-bottom: 50px; padding-top: 50px; color: black'>
          Copyright Jackson Tong 2020, All rights reserved!
  </div>
</footer>
