---
layout: default
---

{% include header.html %}

<div class='row'>

    <!-- Left sidebar content -->
    <div id='left_sidebar' class="col l3 m2 s12">
		<div class="col l8 m12 s12 offset-l4" style="text-align: right; padding-right: 20px">
			<p style='font-size: 12pt; color: #777777'><strong>Projects</strong></p>
			<hr style='width: 50%; margin-right: 0px'>
        {% for project in site.projects %}
            {% include project.html %}
        {% endfor %}
    	</div>
    </div>

    <!-- Center content -->
    <div id='center' class="col l6 m8 s12">
        {{content}}
    </div>

    <!-- Right sidebar content -->
    <div id='right_sidebar' class="col l3 m2 s12">
     	<div class="col l6 m12 s12" style="text-align: left; padding-left: 20px">
			<img style='border-radius: 50%; width:80px; height:auto; padding-top: 10px' src='{{site.baseurl}}/assets/img/{{site.user_image}}'/>
			<div class="card-content">
				<h6><strong>Paxton</strong> Brewing</h6>
				<p style='font-size: 12pt; color: #999999'>Welcome to my blog. I hope you like it.</p>
			</div>
		</div>
    </div>
</div>

<footer class="card white z-depth-1" style='margin-bottom: -5px;'>
   <div class="container" style='text-align: center; padding-bottom: 50px; padding-top: 50px; color: black'>
          Copyright Jackson Tong 2020, All rights reserved!
  </div>
</footer>
